---
---

<nav>
  <button><a class="link1" href="/#">Log på</a></button>
  <a class="link2" href="/#">Tilmeld dig</a>
</nav>

<style>
  a {
    color: rgb(201, 199, 199);
    float: right;
    margin: 10px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
  }

  a:hover {
    color: rgb(220, 220, 212);
  }

  .link1 {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
  }

  button {
    float: right;
    border-radius: 20px;
    padding-right: 10px;
    text-decoration: none;
    margin-right: 15px;
    border-style: solid;
    border-color: black;
  }
</style>
